<!-- Form for payment verification -->
<form id="paymentVerifyForm" action="/payment/verifyTest" method="POST">
    <input name="razorpay_payment_id" type="hidden" id="razorpay_payment_id" />
    <input name="razorpay_order_id" type="hidden" id="razorpay_order_id" />
    <input name="razorpay_signature" type="hidden" id="razorpay_signature" />
    <input name="paymentDetail" type="hidden" id="paymentDetail" value="<%- paymentDetail %>" />
</form>

<button type="button" class="btn btn-primary" onclick="checkout(event)" style="display: none;">Pay $<%-
        paymentDetail.amount/100 %></button>




<!-- Razorpay Checkout Script -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<!-- JavaScript for handling payment checkout -->
<script>
    // Function to execute when the button is clicked
    function checkout(event) {
        const razorpayKeyId = '<%- razorpayKeyId %>';
        const orderId = '<%- JSON.stringify(paymentDetail.orderId) %>';
        const options = {
            "key": razorpayKeyId,
            "currency": "<%- paymentDetail.currency %>",
            "name": "<%- paymentDetail.name %>",
            "description": "<%- paymentDetail.description %>",
            "image": "https://th.bing.com/th/id/OIP.Ph7ASU7IV-pld1YGeGu0fgHaF3?rs=1&pid=ImgDetMain",
            "order_id": JSON.parse(orderId),
            "handler": function (response) {
                document.getElementById('razorpay_payment_id').value = response.razorpay_payment_id;
                document.getElementById('razorpay_order_id').value = response.razorpay_order_id;
                document.getElementById('razorpay_signature').value = response.razorpay_signature;
                document.getElementById("paymentVerifyForm").submit();
            },
            "modal": {
                ondismiss: function () {
                    alert(`Payment Failed`);
                }
            },
            "theme": {
                "color": "#22527b"
            }
        };
        const razorpay = new Razorpay(options);
        razorpay.open();

        //LINK   
        event.preventDefault();
    }

    // Execute checkout function automatically when the page loads

    document.addEventListener('DOMContentLoaded', function () {
        // Find the button element
        var button = document.querySelector('.btn.btn-primary');

        // Simulate a click event on the button
        var event = new MouseEvent('click', {
            bubbles: true,
            cancelable: true,
            view: window
        });
        button.dispatchEvent(event);
    });
</script>

</body>

</html>